<template>
  <div class="well">
    <img :src="catImgSrc" />
  </div>
</template>

<script>
export default {
  name: 'KittensComponent',
  data: function () {
    return {
      catImgSrc: 'http://thecatapi.com/api/images/get?size=med'
    };
  }
};
</script>

<style scoped>
</style>
