<template>
  <div>
    <h3>{{ isWorking ? workingTitle : restingTitle }}</h3>
  </div>
</template>

<style scoped>
</style>

<script>
export default {
  name: 'StatTitleComponent',
  data () {
    return {
      workingTitle: 'Work!',
      restingTitle: 'Rest!'
    };
  },
  props: ['isWorking']
};
</script>
