<template>
  <div id="app" class="container">
    <h2>{{title}}</h2>
    <add-item-component></add-item-component>
    <items-component :items="items"></items-component>
    <div class="footer">
      <hr/>
      <change-title-component></change-title-component>
    </div>
  </div>
</template>

<script>
import AddItemComponent from './components/AddItemComponent';
import ItemsComponent from './components/ItemsComponent';
import ChangeTitleComponent from './components/ChangeTitleComponent';
export default {
  name: 'App',
  components: {ChangeTitleComponent, ItemsComponent, AddItemComponent},
  data: function () {
    return {
      items: [{id: 1, text: 'Bananas', checked: true}, {id: 2, text: 'Apples', checked: false}]
    };
  }
};
</script>

<style>
</style>
