<template>
  <div id="app">
    <h1 v-if="!isadmin">Beer Time!</h1>
  </div>
</template>

<script>

export default {
  name: 'App',
  data () {
    return {
      isadmin: false
    };
  }
};
</script>

<style>
</style>
