<template>
  <div>
    <em>Change the title of your shopping list here</em>
    <input v-bind:value="value" v-on:input="onInput"/>
  </div>
</template>

<script>
export default {
  name: 'ChangeTitleComponent',
  props: ['value'],
  methods: {
    onInput (event) {
      this.$emit('input', event.target.value);
    }
  }
};
</script>

<style scoped>
</style>
