<template>
  <div>
    <h2>{{ title }}</h2>
    <add-item-component v-on:add="addItem"></add-item-component>
    <items-component v-bind:items="items"></items-component>
    <div class="footer">
      <hr />
      <change-title-component v-model="title"></change-title-component>
    </div>
  </div>
</template>

<script>
import AddItemComponent from './AddItemComponent';
import ItemsComponent from './ItemsComponent';
import ChangeTitleComponent from './ChangeTitleComponent';

export default {
  name: 'ShoppingListComponent',
  components: {
    AddItemComponent,
    ItemsComponent,
    ChangeTitleComponent
  },
  props: ['title', 'items'],
  methods: {
    addItem (text) {
      this.items.push({
        text,
        checked: false
      });
    }
  }
};
</script>

<style scoped>
  .footer {
    font-size: 0.7em;
    margin-top: 20vh;
  }
</style>
